body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f05a24;
    padding: 10px 20px ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    width: 200px;
}

.login-form {
    width: 100%;
    max-width: 400px; /* Increased max-width for larger container */
}

#login-form-container {
    display: none; /* Initially hide the login form until a role is selected */
}

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f05a24;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
} */

.burger-menu {
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50px; /* Mengatur posisi di bawah header */
    left: 0;
    width: 250px; /* Lebar sidebar */
    height: 100%; /* Tinggi full page */
    background-color: #f05a24;
    z-index: 999;
}

.menu a {
    padding: 15px;
    text-decoration: none;
    color: white;
    text-align: left; /* Mengatur teks ke kiri */
    border-bottom: 1px solid white;
    display: block; /* Setiap link adalah elemen blok */
}

.menu a:hover {
    background-color: #e04a1f;
}

.account-name {
    font-size: 1.2em;
    color: white;
    margin-right: 10px;
}

.section-1 {
    background-color: #f05a24;
    color: white;
    text-align: center;
    padding: 150px 20px; /* Adjust padding for spacing */
    
}

.section-2 {
    background-color: white;
    padding: 60px 20px; /* Adjust padding for spacing */
    font-size: 1.2em;
    
}

.section-3 {
    background-color: white;
    padding: 60px 20px ; /* Adjust padding for spacing */
    font-size: 1.2em;
  
    
}

.container {
    margin-top: 150px; /* Add top margin to avoid overlap with the fixed header */
    text-align: center;
}

.section-2 img {
    max-width: 100%;
    height: auto;
    
}

.section-3 img {
    max-width: 100%;
    height: auto;
}
.section-2, .section-3 {
    text-align: left;
}

/* .section-3 h2 {
    /* margin-left: 20px; Atur nilai sesuai kebutuhan kita */
    /* text-align: central;  */
/* } */ 
